{{#if hasBlock}}
  {{yield message (action "close")}}
{{else}}
  <a {{action "close"}} class="close" role="button">&times;</a>
  {{!-- template-lint-disable no-triple-curlies --}}
  <a {{action "click"}}><span class="message">{{message.text}}{{{message.html}}}</span></a>
{{/if}}
